@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

$primary-color: #FF420E;
$secondary-color: #89DA59;
$bg-color1: #80BD9E;
$bg-color2: #F98866;
$bg-color3: #90AFC5;
$bg-color4: #F4CC70;
