<div id="sidebar">
	<mat-nav-list role="list">
    <a mat-list-item role="listitem" routerLink="/add-new-content" routerLinkActive="active">
			<mat-icon matListIcon>add_box</mat-icon>Add new content</a>
		<a mat-list-item role="listitem" routerLink="/categories" routerLinkActive="active">
			<mat-icon matListIcon>library_books</mat-icon>
			Categories</a>
		<a mat-list-item role="listitem" routerLink="/videos" routerLinkActive="active">
			<mat-icon matListIcon>video_library</mat-icon>
			All Videos</a>
      		<a mat-list-item role="listitem" routerLink="/song" routerLinkActive="active">
			<mat-icon matListIcon>audiotrack</mat-icon>
			All Songs</a>
      <a mat-list-item role="listitem" routerLink="/users" routerLinkActive="active">
			<mat-icon matListIcon>person</mat-icon>Users</a>
	</mat-nav-list>
</div>